---
// Assets
import { Image } from "astro:assets";
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import RollingLink from "@/components/fundations/elements/RollingLink.astro";
// Content
const { title, description, url, image, pubDate } = {
  url: "/blog/posts/" + Astro.props.post.slug,
  title: Astro.props.post.data.title,
  description: Astro.props.post.data.description,
  image: Astro.props.post.data.image.url,
  pubDate: Astro.props.post.data.pubDate,
};
---

<article class="relative">
  <Image
    src={image}
    alt={title}
    width={800}
    height={1080}
    class="object-cover object-center w-full aspect-12/8 rounded-2xl"
    loading="eager"
    decoding="async"
  />
  <div class="mt-4">
    <div>
      <Text tag="p" variant="textXS" class="text-base-400 mt-1">
        <time datetime={pubDate}>
          {
            new Date(pubDate).toLocaleDateString("en-US", {
              year: "numeric",
              month: "long",
              day: "2-digit",
            })
          }
        </time>
      </Text>
      <Text
        tag="h3"
        variant="textLG"
        class="font-medium text-base-900 tracking-tight mt-4">{title}</Text
      >
      <Text tag="p" variant="textBase" class="text-base-500 mt-1 text-pretty"
        >{description}</Text
      >
    </div>
    <RollingLink
      href={url}
      title={`Read more: ${title}`}
      aria-label={`Read blog post: ${title}`}
      variant="light"
      hoverText="Read further"
      initialText="Read this article"
    />
  </div>
</article>
